#page-main article {
  display: flex;
  flex-wrap: wrap;
}
#page-main article > * {
  width: 100%;
  text-align: center;
  flex-grow: 0;
}
#page-main #main-box {
  flex-grow: 1;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-main #cube {
  transform-style: preserve-3d;
  transform: rotate3d(1, 0, 1, 20deg);
  width: 0;
  height: 0;
  transition: transform 2s ease-in-out;
  -webkit-animation: cube-rotate 8s linear 1000;
  animation: cube-rotate 8s linear 1000;
}
@keyframes cube-rotate {
  from {
    transform: rotate3d(1, 0, 1, 20deg);
  }
  to {
    transform: rotate3d(1, 0, 1, 380deg);
  }
}
@-webkit-keyframes cube-rotate {
  from {
    transform: rotate3d(1, 0, 1, 20deg);
  }
  to {
    transform: rotate3d(1, 0, 1, 380deg);
  }
}
#page-main .cell {
  position: absolute;
}


#page-main .cell-face {
  background-color: yellow;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
#page-main .cell {
  transform: rotate3d(1,0,1,45deg);
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  display: block;
  transform-style: preserve-3d;
  position: relative;
}

#page-main .cell-inner {
  width: 92%;
  height: 92%;
  display: block;
  border: 5% solid transparent;
  border-radius: 8%;
}

#page-main .shadow {
  width: 10%;
  height: 0;
  position: absolute;
  bottom: 100px;
  left: 45%;
  border-radius: 50%;
  background-color: transparent;
  /*opacity: 0;*/
  box-shadow: 0 0 100px 20px rgba(0, 0, 0, 0.4);
}