/**
 * @overview 重庆出入境
 *
 * =============================================================================
 *  重庆出入境
 * =============================================================================
 *
 * @author 李军
 * @create 2016-7-20
 *
 */
  /* 字体图标 */
 @font-face {
   font-family: 'FontAwesome';
   src: url('../fonts/icomoon.eot');
   src: url('../fonts/icomoon.eot') format('embedded-opentype'),
   url('../fonts/icomoon.woff') format('woff'),
   url('../fonts/icomoon.ttf') format('truetype'),
   url('../fonts/icomoon.svg') format('svg');
   font-weight: normal;
   font-style: normal;
 }


#page-main article {
  position: relative;
  background-color: #fff;
}
#page-main .change-skin {
  color: white;
  display: inline-block;
  position: absolute;
  padding: 6px 15px 1px;
  right: 10px;
  top: 10px;
  margin: 0;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  z-index: 10000;
}




/* 不同皮肤的不同背景 */
#page-main .bgs,
#page-main .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#page-main .bg {
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
#page-main .bg-1 {
  background-color: #fff;
}
#page-main .bg-2 {
  background-image: url(../img/bg_2.png);
  background-color: #0e68bb;
  background-position: 0% 100%;
}
#page-main .bg-3 {
  background-image: url(../img/bg_3.png);
  background-position: 0% 100%;
}
#page-main .bg-4 {
  background-image: url(../img/bg_4.png);
}
#page-main .bg-5 {
  background-image: url(../img/bg_5.png);
}
#page-main.skin-1 .bg-1,
#page-main.skin-2 .bg-2,
#page-main.skin-3 .bg-3,
#page-main.skin-4 .bg-4,
#page-main.skin-5 .bg-5 {
  opacity: 1;
}

/* 皮肤三多余DOM的动画 */
#page-main .other-3 {
  position: fixed;
  width: 100%;
  height: 13%;
  bottom: 87%;
  left: 0%;
  -webkit-transition: all 1s;
          transition: all 1s;
  z-index: 20;
  -webkit-transform: translate3d(0, -110%, 0);
          transform: translate3d(0, -110%, 0);
}
#page-main.skin-3 .other-3 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#page-main .other-3 .line {
  height: 100%;
  width: 4px;
  position: absolute;
  left: 25%;
  background-color: #c0c0c0;
}
#page-main .other-3 .line-2 {
  left: 75%;
}
#page-main .other-3 .line::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  left: -3px;
  bottom: -4px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
}


/* 按钮总区域位置大小 */
#page-main .items {
  /*background-color: #eee;*/
  transition: all 1s;
  position: absolute;
  margin: 0;
  -webkit-transform:translateZ(0);
          transform:translateZ(0);
}
#page-main.skin-1 .items {
  width: 100%;
  height: 90%;
  left: 0;
  top: 10%;
}
#page-main.skin-2 .items {
  width: 100%;
  height: 75%;
  left: 0;
  top: 10%;
}
#page-main.skin-3 .items {
  width: 100%;
  height: 70%;
  left: 0;
  top: 10%;
}
#page-main.skin-4 .items {
  width: 100%;
  height: 70%;
  left: 0;
  top: 30%;
}
#page-main.skin-5 .items {
  width: 100%;
  height: 70%;
  left: 0;
  top: 30%;
}
/* 各按钮块默认样式 */
#page-main .item {
  background-color: #fff;
  transition: all 1s;
  position: absolute;
  font-family: 'FontAwesome';
  overflow: hidden;
  z-index: 10;
  -webkit-transform:translateZ(0);
          transform:translateZ(0);
}
#page-main .item span,
#page-main .item h3 {
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  position: absolute;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  left: 50%;
  top: 50%;
  font-size: 18px;
  color: white;
  transition: all 1s;
  margin: 0;
}
#page-main .item span {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #ccc;
  border-radius: 25px;
}


/* 皮肤一： 图标文字 整体效果*/
#page-main.skin-1 .item span {
  width: 60px;
  height: 60px;
  line-height: 60px;
  top: 30%;
  font-size: 32px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
#page-main.skin-1 .item h3 {
  top: 70%;
}
/*皮肤一：个别图标文字调整*/
#page-main.skin-1 .item-5 span {
  left: 30%;
  top: 50%;
}
#page-main.skin-1 .item-5 h3 {
  top: 50%;
  left: 60%;
}
/* 皮肤一： 按钮各自位置颜色*/
#page-main.skin-1 .item-1 {
  width: 42.5%;height: 30%;top: 2.5%;left: 5%;
  background-color: #ecc800;
}
#page-main.skin-1 .item-2 {
  width: 42.5%;height: 30%;top: 2.5%;left: 52.5%;
  background-color: #92cd06;
}
#page-main.skin-1 .item-3 {
  width: 42.5%;height: 30%;top: 37.25%;left: 5%;
  background-color: #04c19c;
}
#page-main.skin-1 .item-4 {
  width: 42.5%;height: 30%;top: 37.25%;left: 52.5%;
  background-color: #24ac26;
}
#page-main.skin-1 .item-5 {
  width: 90%;height: 20%;top: 72.5%;left: 5%;
  background-color: #ecc800;
}


/* 皮肤二： 图标文字 整体效果*/
#page-main.skin-2 .item span {
  top: 35%;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 32px;
  line-height: 60px;
  background-color: #fff;
}
#page-main.skin-2 .item h3 {
  top: 77%;
}
/*皮肤二：个别图标文字调整*/
#page-main.skin-2 .item-1 span {
  color: #ea5b48;
}
#page-main.skin-2 .item-2 span {
  top: 43%;
  color: #e39d4b;
}
#page-main.skin-2 .item-2 h3 {
  top: 62%;
}
#page-main.skin-2 .item-3 span {
  color: #b6cc16;
}
#page-main.skin-2 .item-4 span {
  color: #24ac26;
}
#page-main.skin-2 .item-5 span {
  color: #2a9ae6;
}
/* 皮肤二： 按钮各自位置颜色*/
#page-main.skin-2 .item {
  border-radius: 12px;
  box-shadow: 2px 3px 0 0 rgba(0, 0, 0, 0.2);
}
#page-main.skin-2 .item-1{
  width: 45%;height: 30%;left: 4%;top: 2.5%;
  background-color: #ea5b48;
}
#page-main.skin-2 .item-2{
  width: 45%;height: 62.5%;left: 51%;top: 2.5%;
  background-color: #e39d4b;
}
#page-main.skin-2 .item-3{
  width: 45%;height: 30%;left: 4%;top: 35%;
  background-color: #b6cc16;
}
#page-main.skin-2 .item-4{
  width: 45%;height: 30%;left: 4%;top: 67.5%;
  background-color: #24ac26;
}
#page-main.skin-2 .item-5{
  width: 45%;height: 30%;left: 51%;top: 67.5%;
  background-color: #2a9ae6;
}


/* 皮肤三： 图标文字 整体效果*/
#page-main.skin-3 .item h3 {
  top: 50%;
  left: 20%;
}
#page-main.skin-3 .item span {
  background-color: transparent;
  width: 80px;
  height: 80px;
  left: 75%;
  top: 18%;
  color: rgba(0, 0, 0, 0.1);
  font-size: 50px;
  line-height: 60px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
/* 皮肤三： 按钮各自位置颜色*/
#page-main.skin-3 .item {
  border-radius: 8px;
}
#page-main.skin-3 .item-1 {
  width: 94%;height: 22%;left: 3%;top: 0;
  background-color: #fe9b1b;
}
#page-main.skin-3 .item-2 {
  width: 94%;height: 22%;left: 3%;top: 20%;
  background-color: #56c207;
}
#page-main.skin-3 .item-3 {
  width: 94%;height: 22%;left: 3%;top: 40%;
  background-color: #0cbea2;
}
#page-main.skin-3 .item-4 {
  width: 94%;height: 22%;left: 3%;top: 60%;
  background-color: #2a9ae6;
}
#page-main.skin-3 .item-5 {
  width: 94%;height: 20%;left: 3%;top: 80%;
  background-color: #9676e9;
}


/* 皮肤四： 图标文字 整体效果*/
#page-main.skin-4 .item {
   overflow: visible;
}
#page-main.skin-4 .item span {
  top: 0;
  width: 45px;
  height: 45px;
  border-radius: 23px;
  font-size: 26px;
  line-height: 45px;
  background-color: #fff;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
}
#page-main.skin-4 .item h3 {
  top: 55%;
}
/*皮肤四：个别图标文字调整*/
#page-main.skin-4 .item-1 span {
  color: #ea5b48;
}
#page-main.skin-4 .item-2 span {
  top: 43%;
  color: #e39d4b;
}
#page-main.skin-4 .item-2 h3 {
  top: 62%;
}
#page-main.skin-4 .item-3 span {
  color: #b6cc16;
}
#page-main.skin-4 .item-4 span {
  color: #24ac26;
}
#page-main.skin-4 .item-5 span {
  color: #2a9ae6;
}
/* 皮肤三： 按钮各自位置颜色*/
#page-main.skin-4 .item {
  border-radius: 12px;
}
#page-main.skin-4 .item-1{
  width: 44%;height: 24%;left: 4%;top: 6%;
  background-color: #ea5b48;
}
#page-main.skin-4 .item-2{
  width: 44%;height: 57%;left: 52%;top: 6%;
  background-color: #e39d4b;
}
#page-main.skin-4 .item-3{
  width: 44%;height: 24%;left: 4%;top: 39%;
  background-color: #b6cc16;
}
#page-main.skin-4 .item-4{
  width: 44%;height: 24%;left: 4%;top: 72%;
  background-color: #24ac26;
}
#page-main.skin-4 .item-5{
  width: 44%;height: 24%;left: 52%;top: 72%;
  background-color: #2a9ae6;
}


/* 皮肤五： 图标文字 整体效果*/
#page-main.skin-5 .item {
  border-radius: 8px;
}
#page-main.skin-5 .item span {
  background-color: transparent;
  width: 100px;
  height: 100px;
  top: 24%;
  color: rgba(0, 0, 0, 0.2);
  font-size: 72px;
  line-height: 100px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  left: 53%;
}
#page-main.skin-5 .item h3 {
  top: 18%;
  left: 30%;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
/*皮肤五：个别图标文字调整*/
#page-main.skin-5 .item-5 span {
  top: 50%;
  -webkit-transform: rotate(0deg)  translate(-50%, -50%);
          transform: rotate(0deg)  translate(-50%, -50%);
  left: 80%;
}
#page-main.skin-5 .item-5 h3 {
  top: 50%;
  left: 15%;
}
/* 皮肤五： 按钮各自位置颜色*/
#page-main.skin-5 .item-1 {
  width: 46%;height: 30%;top: 1%;left: 3%;
  background-color: #3f9413;
}
#page-main.skin-5 .item-2 {
  width: 46%;height: 30%;top: 1%;left: 51%;
  background-color: #cd4251;
}
#page-main.skin-5 .item-3 {
  width: 46%;height: 30%;top: 34%;left: 3%;
  background-color: #11845c;
}
#page-main.skin-5 .item-4 {
  width: 46%;height: 30%;top: 34%;left: 51%;
  background-color: #2e6d34;
}
#page-main.skin-5 .item-5 {
  width: 94%;height: 25%;top: 67%;left: 3%;
  background-color: #1f6a9c;
}

